# 🔥 Entorno virtual
venv/
.venv/

# 🧪 Archivos de pruebas (opcional)
__pycache__/
*.pyc
*.pyo
*.pyd

# ⚙️ Configuración de VSCode
.vscode/

# 🛠️ Configuración de herramientas de entorno
.env
.env.*

# 📦 Archivos de dependencias creados por pip
pip-log.txt
pip-delete-this-directory.txt